{% extends 'base2.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row mt">
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body">
                            <a href="mail_compose.html" class="btn btn-compose">
                                <i class="fa fa-pencil"></i>  Compose Mail
                            </a>
                            <ul class="nav nav-pills nav-stacked mail-nav">
                                <li class="active"><a href="#"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-theme pull-right inbox-notification">{{ mailview|length}}</span></a></li>
                                </li>
                            </ul>
     <section class="panel">
             <div class="panel-body">
                 </div>
        </section>
                        </div>
                    </section>
                </div>
                            <div class="col-sm-9">
                                <section class="panel">
                                    <header class="panel-heading wht-bg">
                                        <h4 class="gen-case">
                                            Inbox
                                            <form action="#" class="pull-right mail-src-position">
                                                <div class="input-append">
                                                    <input type="text" class="form-control " placeholder="Search Mail">
                                                </div>
                                            </form>
                                        </h4>
                                            <div class="table-inbox-wrap ">
                                                <table class="table table-inbox table-hover">
                                                    <tbody>
                                                    {% for i in mailview %}
                                                    <tr>
                                                        <td class="inbox-small-cells"><i class="fa fa-envelope-o"></i></td>
                                                        <td class="view-message  dont-show"><a href="mail_view.html">{{ i.username }}</a></td>
                                                        <td class="view-message "><a href="mail_view.html">{{ i.subject }}</a></td>
                                                        <td class="btn btn-success btn-xs"><a href="{{ path('msg', {'id':i.id}) }}"><i class="fa fa-envelope-open"></i></a></td>

                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                    </header>
                                </section>
                            </div>

            </div>
        </section>
    </section>

{% endblock %}