{% extends 'base2.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="row content-panel">
                        <div class="col-md-4 profil-text">
                        </div>
                        <!-- /col-md-4 -->
                        <div class="col-md-4 profile-text">
                            <h3>Farah ben afia </h3>
                            <h6>Main Administrator</h6>
                            <p>Mail:Farah@esprit.tn</p>
                            <br>
                        </div>
                        <!-- /col-md-4 -->
                        <!-- /col-md-4 -->
                    </div>
                    <!-- /row -->
                </div>
{% endblock %}