{% extends 'base2.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block content %}

    <div class="bg-light p-3">
        <h1>My Orders</h1>
    </div>
    {% if orders | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Date of Order</th>
                <th>Date of Delivery</th>
                <th>Total Amount</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
                <tr>
                    <td>{{ order.dateOrder | date("y-m-d") }}</td>
                    <td>{{ order.dateDelivery | date("y-m-d") }}</td>
                    <td>{{ order.amount }} Dt</td>
                    <td>
                        <a href="#" class="btn btn-success btn-sm">
                            View
                        </a>
                        <a href="#" class="btn btn-success btn-sm">
                            Edit
                        </a>
                        <a href="#" class="btn btn-success btn-sm">
                            Cancel
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    {% else %}
        <p>No Orders Yet !</p>
    {% endif %}


{% endblock %}