{% extends 'base.html.twig' %}

{% block title %}
    Order Details
{% endblock %}

{% block content %}
    <div class="bg-light p-3">
        <h1>Order details</h1>
    </div>

    <div class="container-fluid">
        {% set total = 0 %}



        <table class="table">
            <thead>
            <tr>

                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            {% for o in order_lines %}
                {% if (orders | length > 0) and (order_lines | length > 0) %}
                {% if o.orderr.id == id %}
        {% set total = total + o.total %}
                        <tr>

                            <td>{{ o.product.nameProduct }}</td>
                            <td>{{ o.quantity }}</td>
                            <td>{{ o.total }}</td>
                        </tr>
                {% endif %}
                {% endif %}

            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total:</td>
                <td> {{ total}} DT</td>
            </tr>
            </tfoot>
        </table>



    </div>


{% endblock %}



